.container {
  margin: 0;
  padding: 0;
}

header {
  background-color: #493548;
  border: 3px solid black;
  font-family: sans-serif;
  font-style: bold;
  font-weight: bold;
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 2px;
}

.cellNum {
  height: 150px;
  max-width:  410px;
  border: 1px solid white;
  background-color: #4B4E6D;
  text-align: center;
  display: inline-block;
  margin:  auto 0;
  padding: 0;

}


#infoRow {
  background-color: #493548;
  border: 3px solid black;
  margin: auto 0;
  padding-bottom: 0;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-style: bold;
  font-weight: bold;
  text-align: left;
  text-shadow: 2px;
}

/*#strainhunter {
  position: absolute;
  top: 10px;
  right: 30px;
  bottom: 10px;
  left: 10px;
  margin-left: 500px;
}
*/
#strainform {
  font: white;
}

#sendit{
  color: black;
}

br {
  color: white;
}

